# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.udb
*.so
cmake*/
*.kdev4
# 忽略子文件夹的
build/
cmake-build-debug
cmake-build-release
dataset
# 忽略根目录的
/dataset
.idea/
.gou*
*.yml
/venv

